# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Flask / Web
instance/
.webassets-cache
.python-version

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Data & Database
*.db
*.sqlite3
data/
uploads/
